# Maintainer: Aleksandr Popov <popov.psk@gmail.com>
pkgname=pawse-bin
pkgver=__VERSION__
pkgrel=1
pkgdesc="A fast, native music player for your local library"
arch=('x86_64' 'aarch64')
url="https://github.com/popovpsk/pawse"
license=('MIT')
depends=('alsa-lib' 'dbus' 'fontconfig' 'hicolor-icon-theme' 'libxcb' 'libxkbcommon' 'libxkbcommon-x11' 'vulkan-icd-loader' 'wayland')
provides=('pawse')
conflicts=('pawse')
options=('!strip')
source_x86_64=("pawse-${pkgver}-${CARCH}.tar.gz::${url}/releases/download/v${pkgver}/pawse_${pkgver}_${CARCH}-pacman.tar.gz")
sha256sums_x86_64=('__SHA256_X86_64__')
source_aarch64=("pawse-${pkgver}-${CARCH}.tar.gz::${url}/releases/download/v${pkgver}/pawse_${pkgver}_${CARCH}-pacman.tar.gz")
sha256sums_aarch64=('__SHA256_AARCH64__')

package() {
  if [ ! -d "${srcdir}/usr" ]; then
    echo "expected a usr/ tree in the release tarball; got:" >&2
    find "${srcdir}" -maxdepth 2 >&2
    return 1
  fi
  cp -a "${srcdir}/usr" "${pkgdir}/usr"
  if [ ! -s "${pkgdir}/usr/share/licenses/${pkgname}/LICENSE" ]; then
    echo "the release tarball carries no LICENSE; check [package.metadata.packager.pacman.files]" >&2
    return 1
  fi
}
