[Desktop Entry]
Type=Application
Name=Pawse
GenericName=Music Player
Comment=A fast, native music player for your local library
Exec=pawse %U
Icon=io.github.popovpsk.pawse
Terminal=false
Categories=AudioVideo;Audio;Player;
Keywords=music;player;audio;flac;library;
MimeType=audio/flac;audio/mpeg;audio/mp4;audio/x-m4a;audio/ogg;audio/x-vorbis+ogg;audio/x-wav;audio/x-aiff;audio/x-dsf;audio/x-dff;
StartupNotify=true
