[Desktop Entry]
Type=Application
Name=Pawse
GenericName=Music Player
Comment=A fast, native music player for your local library
Exec=pawse
Icon=io.github.popovpsk.pawse
Terminal=false
Categories=AudioVideo;Audio;Player;
Keywords=music;player;audio;flac;library;
StartupNotify=true
